@page "/aeronave"

<!--
      ID
      Fabricante
      Modelo
      Codigo
-->

<div class="container">
    <div class="row">
        <h6>Cadastro de Aeronaves</h6>
        <div class="col">

            <input class="form-control" placeholder="" disabled>
            <input class="form-control" placeholder="Digite o Fabricante">
            <input class="form-control" placeholder="Digite o Modelo">
            <input class="form-control" placeholder="Digite o Código">
            <button class="form-control" btn btn-outline-primary type="button">Adicionar</button>
            

        </div>
        
        <div class="col">

            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
            </tbody>

        </div>
    </div>
</div>